#initialContainer img{
    width: 125px;
}

#planetView{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: fit-content;
    background-image: url(../pagesimgs/backgroundStar4.webp);
    background-size: cover;
    background-position-y: top;
    animation-name: planetView;
    animation-duration: 300s;
    animation-iteration-count: infinite;
    pointer-events: all;
}

@keyframes  planetView{
    0%{
        background-position-y: top;
    }

    50%{
        background-position-y: 20%;
    }

    100%{
        background-position-y: top;
    }
}

#infoPlanetContainer{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

#planetView .trContent{
    align-content: flex-start;
    margin: 20px;
}

#planetView .trContent>:nth-child(1){
    flex-grow: 0;
}

#planetView .trContent>:not(:nth-child(1)){
    flex-grow: 1;
}

#infopContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#infopContent img{
    height: auto;
    width: 290px;
    padding: 20px;
}

#infopContent p{
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    border-top: 3px solid var(--astroneerBlue);
    border-bottom: 3px solid var(--astroneerBlue);
    width: 100%;
}

.trcsPlanet{
    width: 40%;
}

#gatewayP{
    filter: brightness(20);
}

@media screen and (max-width: 670px) {

    #planetView{
        background-size: 200%;
    }

    #initialContainer img{
        width: 80px;
    }

    #infopContent img{
        width: 50%;
    }

    #infoPlanetContainer{
        flex-direction: column;
        align-items: center;
    }

    #infopContent p{
        border: 0;
        border-top: 3px solid var(--astroneerBlue);
        border-bottom: 3px solid var(--astroneerBlue);
        padding: 20px 10px;
    }

    .trcsPlanet{
        width: initial;
    }
}