#resourceNav {
    background-size: 120%;
}

#rnContainer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#rnContainer li {
    padding: 20px;
    font-size: 18px;
}

#resources {
    padding: 20px;
    background-image: url('../pagesimgs/backgroundStar4.webp');
    background-size: 120%;
    background-attachment: fixed;
    animation-name: backanim;
    animation-duration: 440s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    pointer-events: all;
}

#resources .trContent{
    margin-top: 40px;
    margin-bottom: 40px;
}

#resources .trContent>div:first-child {
    font-size: 30px;
    padding-bottom: 30px;
    position: relative;
}

#resources .trContent>div:first-child>img {
    width: 50px;
    transform: translateY(25%);
}

.contentWrapper{
    display: flex;
   
}

.asideWrapper{
    width: 100%;
}

.contentWrapper aside{
    height: auto;
    float: left;
    border: 3px solid var(--astroneerBlue);
    width: 20%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.contentWrapper aside img{
    height: 100%;
    width: 100%;
}

.anchor{
    position: absolute;
    pointer-events: none;
    bottom: 200%;
}

@media screen and (max-width: 670px) {
    #rnContainer li {
        font-size: 12px;
    }

    #resources .trContent>div:not(:first-child) {
        flex-direction: column;
    }

    #resources{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .asideWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contentWrapper aside{
        width: 75%;
    }
}