/*----------------------------------------------Pré definições---------------------------------------------- */
* {
    margin: auto 0;
}

@font-face {
    font-family: "Astroneer";
    src: url(../indeximgs/ndastroneer.ttf);
}

:root {
    --astroneerBlue: #189CEC;
    --astroneerBlueT: rgba(24, 155, 204, .5);
    --astroneerWhite: #F9F9F9;
    --astroneerBorderT: rgba(255, 255, 255, 0.2);
}

#starDivisionW{
    width: 100%;
    height: 75px;
    background-color: var(--astroneerBlue);
    display: flex;
    box-sizing: border-box;
}

#starDivisionW img{
    height: 15px;
    width: auto;
    filter: brightness(50);
    padding: 10px;
}

.starLineW{
    flex: auto;
    width: 100%;
    height: 4px;
    background-color: var(--astroneerWhite);
}

.starLineB{
    flex: auto;
    width: 100%;
    height: 4px;
    background-color: var(--astroneerBlue);
}
/*----------------------------------------------Começo header---------------------------------------------- */

header {
    width: 100%;
    height: 80px;
    background-color: var(--astroneerWhite);
    border-bottom: solid 4px var(--astroneerBlue);
    display: flex;
    position: fixed;
    box-sizing: border-box;
    justify-content: space-between;
    transition: .2s ease;
    z-index: 1;
}

header.sScroll {
    height: 70px;
    background-color: rgba(32, 32, 32, 0.5);
    backdrop-filter: blur(7px);
    border-color: var(--astroneerBorderT);
}

#astroneerLogo {
    width: 40px;
    height: 40px;
    padding-left: 1.5vw;
}

#alImg {
    width: 100%;
}

#alImg.sScroll {
    width: 100%;
    filter: brightness(10)
}

#astroneerText {
    width: 206px;
    height: 32px;
    box-sizing: border-box;
    padding-right: 1.5vw;
}

#atImg {
    width: 90%;
    float: right;
}

#atImg.sScroll {
    filter: brightness(10);
}

.port{
    display: none;
}

.langNone{
    display: none;
}

.langInline{
    display: inline-flex;
}

/*----------------------------------------------Fim header------------------------------------------------ */
/*------------------------------------------------Começo menu------------------------------------------------- */
nav {
    transform: translateX(calc(59px - 100%));
    width: 70%;
    height: 100%;
    position: fixed;
    top: 100px;
    display: flex;
    flex-direction: row;
    transition: .5s;
    z-index: 1;
}

nav.sScroll {
    transition: .5s;
}

nav.menued {
    transform: translateX(0px);
    transition: 1s;
}

#menuContent {
    flex: auto;
    height: 100%;
    background-color: var(--astroneerWhite);
}

#settings{
    height: 36px;
    width: 100%;
    border-bottom: 4px solid var(--astroneerBlue);
    display: flex;
    align-content: center;
}

#ssettings{
    height: 36px;
    width: 100%;
    background-color: rgb(33, 7, 34);
    border-bottom: 4px solid rgb(175, 14, 175);
    display: flex;
    align-content: center;
}

#language{
    height: 100%;
    width: fit-content;
    display: flex;
    align-content: center;
    transition: .2s;
}

#language:hover{
    background-color: #d6d6d6;
    cursor: pointer;
}

#language span{
    font-family: "Rubik";
    color: var(--astroneerBlue);
    font-weight: 600;
    padding: 0px 10px;
    pointer-events: none;
}

/*------------------------------------------------Começo menu botão------------------------------------------------- */

#menuBar {
    width: fit-content;
    height: 100%;
    pointer-events: none;
}

#menuArrow {
    width: 60px;
    height: 40px;
    background-color: rgba(32, 32, 32, 0.5);
    box-sizing: border-box;
    border-left: 4px solid var(--astroneerBlue);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 12px;
    backdrop-filter: blur(10px);
    transition: .2s;
    pointer-events: all;
}

#maBar1, #maBar2 {
    height: 4px;
    width: 13px;
    background-color: var(--astroneerWhite);
    margin: 2px;
    box-shadow: 0px 0px 7px black;
    margin-left: 1vw;
    transition: margin-left .2s ease-out, transform .4s ease-in-out;
}

#maBar1 {
    transform: rotate(135deg);
}

#maBar2 {
    transform: rotate(45deg);
}

#maBar1.menued {
    transform: rotate(45deg);
}

#maBar2.menued {
    transform: rotate(135deg);
}

/*------------------------------------------------menu botão animações------------------------------------------------- */

#menuArrow.menued {
    border-color: var(--astroneerBlue);
    background-color: var(--astroneerBlueT);
}

#menuArrow.sScroll {
    border-color: var(--astroneerBorderT);
}

#menuArrow.sScroll.menued {
    border-color: var(--astroneerBlue);
}

#menuArrow:hover {
    cursor: pointer;
    background-color: var(--astroneerBlueT);
    /* box-shadow: aliceblue 0px 0px 5px; */
}

#menuArrow:hover div {
    margin-left: 1.5vw;
}

#menuArrow.menued:hover div {
    margin-left: 0.5vw;
}

/*------------------------------------------------Fim menu------------------------------------------------- */
/*----------------------------------------------Começo main------------------------------------------------ */
#home {
    width: 100%;
    height: 700px;
    background-image: url('../indeximgs/wallpaperAstroneer.webp');
    background-size: cover;
    background-position: center;
    display: flex;
}

#homeGradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    align-content: center;
    justify-content: right;
    box-sizing: border-box;
    border-bottom: 5px solid var(--astroneerBorderT);
}

#homeTitle{
    height: fit-content;
    width: fit-content;
}

#homeTitle div{
    text-align: right;
}

#homeTitle h1, #homeTitle h2{
    color: var(--astroneerWhite);
    text-shadow: 0px 0px 5px white;
    font-family: Astroneer, "Rubik", sans-serif;
    padding-right: 1.5vw;
}

#homeTitle h1{
    font-size: 120px;
}

#homeTitle h2{
    font-size: 70px
}

#containerAboutGuide{
    width: 100%;
    height: fit-content;
    background-color: var(--astroneerBlue);
    display: flex;
    flex-direction: column;
}

#aboutGuide{
    flex: auto;
    height: fit-content;
    width: auto;
    display: inline-flex;
    justify-content: center;
} 

#aboutGuide span{
    font-family: "Rubik", sans-serif;
    font-size: 72px;
    font-weight: 400;
    color: var(--astroneerWhite);
    padding: 10px;
}

#containerCarousel{
    width: 100%;
    flex: auto;
    height: 600px;
}

#containerPlatformsContents{
    height: fit-content;
    width: 100%;
    background-color: var(--astroneerWhite);
}

#containerPlatformSpan{
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding-left: 1.5vw;
    text-shadow: 0px 0px 10px white;
    display: inline-flex;
}

#containerPlatformSpan span{
    font-family: "Rubik", sans-serif;
    font-size: 72px;
    font-weight: 400;
    color: var(--astroneerBlue);
    padding: 20px 0px;
}

#containerPlatforms{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--astroneerBlue);
}

.platform{
    flex: 25%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.platform img{
    width: auto;
    height: 80%;
}

#videoContainer{
    position: relative; 
    padding-bottom: 56.25%;
    width: 100%;
    box-sizing: border-box;
}

#videoContainer iframe{
    position: absolute;
    width: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
}

#topVideoCover{
    height: 6vw;
    width: 100%;
    background-color: var(--astroneerWhite);
    position: absolute;
    display: flex;
}

#topVideoCover img, #bottomVideoCover img{
    height: 15px;
    width: auto;
    padding: 10px;
}

#bottomVideoCover{
    height: 6vw;
    width: 100%;
    top: 49.7vw;
    background-color: var(--astroneerWhite);
    position: absolute;
    display: flex;
}

/*----------------------------------------------Fim main------------------------------------------------ */
/*----------------------------------------------Comeco footer------------------------------------------------ */
footer{
    height: 150px;
    width: 100%;
    background-color: var(--astroneerWhite);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer span{
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--astroneerBlue);
    padding: 20px 0px;
}

#systemEra{
    height: 100%;
    width: auto;
    display: flex;
    align-content: center;
    padding-left: 1.5vw;
}

#systemEra img{
    height: 60%;
}

#pw{
    padding-right: 1.5vw;
}
/*----------------------------------------------Fim footer------------------------------------------------ */

@media screen and (max-width: 670px) {
    #homeTitle h1{
        font-size: 60px;
    }
    
    #homeTitle h2{
        font-size: 35px
    }
    
    #aboutGuide span{
        font-size: 36px;
    }

    #containerPlatformSpan span{
        font-size: 36px;
    }

    #containerPlatforms{
        height: 100px;
    }

    nav {
        transform: translateX(calc(59px - 100%));
        width: 100%;
    }
}