* {
    margin: 0 auto;
}

@font-face {
font-family: "Astroneer";
src: url(ndastroneer.ttf);
}

h1{
font-family: Astroneer;
color: #5394d6;
text-align: center;
}

h2{
font-family: Astroneer;
color: white;
text-align: left;
}

body {
background-image: url("fundastro2.webp");
background-attachment: fixed;
}

.cabrod {
display: flex;
height: 120px;
width: 100%;
background-color: rgb(255, 255, 255);
padding: 5px;
box-shadow: 2px 2px 13px rgba(255, 255, 255, 0.4);
}

.G {
width: 1125px;
display: flex;
margin-top: 120px;
}

.M {
width: 560px;
display: flex;
margin-top: 120px;
}
.tamanho {
height: 440px;
}

.tituloastroneer {
margin-top: 33px;
padding-right: 35px;

}
.cab {
flex: 1;
width: 25%;

}

.logo {
margin-top: 20px;
padding-left: 30px;
}

.sozin {
width: 100%;
}

.conteudo {
background-color: rgba(255, 255, 255, 0.9);
height: 100%;
border-radius: 25px;
box-sizing: border-box;
box-shadow: 2px 2px 13px rgba(255, 255, 255, 0.4);


}

.texto {
padding: 5px;
background-color:#5394d6;
}

.midia {
height: 440px;
font-size: 20px;

}

.espaco {
height: 20px;

}

.espacod {
height: 25px;

}

.espacof {
    height: 32px;
    
    }

.roda {
margin-top: 120px;
}

.margem {
margin: 10px;
flex: 1;
}
